.container {
  border-radius: 5px;
  max-width: 500px;
  margin: 30px auto;
  padding: 40px;
  padding-top: 50px;
  background-color: #ece7e7;
  box-shadow: 9px 9px 24px 9px #13223811;
}
.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.clearfix img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-decoration: none;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: underline;
}

#theme_toggler {
  position: absolute;
  bottom: 38%;
  right: 56%;
  background: #8d6245;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}
