:root {
  --body-bg: #f5f5f5;
  --card-bg: #e0e0e0;
  --container-bg: #e0e0e0;
  --the-app-bg: #e0e0e0;
  --card-bd-col: #bdbdbd;
  --container-bd-col: #bdbdbd;
  --text-color: #252525;
}
.dark_mode {
  --body-bg: #252525;
  --card-bg: #555;
  --container-bg: #555;
  --the-app-bg: #555;
  --card-bd-col: #212121;
  --container-bd-col: #212121;
  --text-color: #f5f5f5;
}

body {
  margin: 0;
  background: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  text-decoration: underline;
}

small {
  color: var(--text-color);
}
.card {
  background: var(--container-bg);
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--card-bd-col);
}

.card > body {
  color: var(--text-color);
}
.container {
  background: var(--card-bg);
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--card-bd-col);
}
.container > body {
  color: var(--text-color);
}

#theme_toggler {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: #0096c3;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.the-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  background: #d9f6fe;
  color: var(--text-color);
  background: var(--container-bg);
}

.wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather {
  margin-bottom: 20px;
}

.temp img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.temp strong {
  color: blueviolet;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-right: 0;
}
.temp .weather-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.temp .focus {
  color: black;
  cursor: default;
  text-decoration: none;
}

.temp .pointer {
  color: blue;
  cursor: default;
  text-decoration: none;
}

.temp .focus:active {
  color: rgb(255, 0, 0);
  outline: none;
}

.temp .pointer:active {
  color: rgb(255, 0, 0);
  outline: none;
}

.app-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.app-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.app-forecast-temperature-last {
  opacity: 0.5;
}
.app-forecast-temp {
  font-size: 13px;
}
